/* Style */
.rr-btn-add-course {
    position: absolute;
    bottom: 20px;
    right: 80px;
}

/* Editor style */
rr-borderless {
    border-radius: 0 !important;
    color: #ff0000 !important;
}

/* Editing */
.fa-check,
.fa-edit,
.fa-trash,
.fa-plus {
    cursor: pointer;
}

.editor a {
    color: white !important;
}



.rr-topic {
    background-color: #212529 !important;
    opacity: 0.9 !important;
}

.rr-course-editor button.active  {
    background-color: rgba(255, 255, 255, .5);
    opacity: .5 !important;
}